body {
    margin: 0;
    font-family: monospace;
    background: #0a0f1c;
    color: #00f7ff;
}

.container {
    padding: 40px;
}

h1 {
    text-align: center;
    color: #00f7ff;
}

.editor-section {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.box {
    flex: 1;
    background: #111827;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #00f7ff33;
}

textarea {
    width: 100%;
    height: 250px;
    background: #0f172a;
    color: #00ff9d;
    border: 1px solid #00f7ff55;
    padding: 10px;
    border-radius: 6px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #00f7ff, #8b5cf6);
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.output {
    background: #0f172a;
    padding: 15px;
    height: 250px;
    overflow-y: auto;
    border-radius: 6px;
    border: 1px solid #00f7ff55;
    color: #00ff9d;
}
button:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

textarea:focus {
    outline: none;
    border: 1px solid #00f7ff;
}

@media (max-width: 768px) {
    .editor-section {
        flex-direction: column;
    }
}